{%  extends "propiedades/base.html" %}
{%  load crispy_forms_tags %}

{%  block content %}
    <form action="" method="post" autocomplete="off">
        {%  csrf_token %}
        {{ form.name|as_crispy_field }}
        {{ form.address|as_crispy_field }}
        {{ form.square_meters|as_crispy_field }}
        {{ form.email|as_crispy_field }}
        <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i> Guardar</button>
            </div>
            <div class="col-md-4">
                <a href="{%  url 'propiedad_list' %}" class="btn btn-secondary btn-block btn-l">
                    <i class="fas fa-stream"></i>Regresar a la lista
                </a>
                <form action=""></form>
            </div>
        </div>
    </form>
{%  endblock content %}
