{%  extends "propiedades/base.html" %}

{%  block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Nombre</td>
            <td>Dirección</td>
            <td>Metros Cuadrados (m²)</td>
            <td>Email</td>
            <td>
                <a href="{% url 'propiedad_insert'%}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Agregar Nueva
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {%  for propiedad in propiedad_list %}
            <tr>
                <td>{{ propiedad.name }}</td>
                <td>{{ propiedad.address }}</td>
                <td>{{ propiedad.square_meters }}</td>
                <td>{{ propiedad.email }}</td>
                <td>
                    <a href="{%  url 'propiedad_update' propiedad.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'employee_delete' propiedad.id %}" method="post" class="d-inline">
                        {%  csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-g text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{%  endblock content %}